<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358101611411-bnipl1bks613qsan71lbngq56qs2sjrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358101611411-bnipl1bks613qsan71lbngq56qs2sjrj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>358101611411-0kpn6i3sf61obri4rflnn3qrf2546dpt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFpm_6TNCLtCnTeSmGGagPenNOEiOPsug</string>
	<key>GCM_SENDER_ID</key>
	<string>358101611411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tophservices.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tophservices</string>
	<key>STORAGE_BUCKET</key>
	<string>tophservices.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358101611411:ios:b47e70c2717f8255e1ee66</string>
	<key>DATABASE_URL</key>
	<string>https://tophservices-default-rtdb.firebaseio.com</string>
</dict>
</plist>